*{
    margin: 0;
    padding: 0;
    font-weight: 2rem;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #00FFFF, #32CD32);
}

.calculator-grid{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto)repeat(5,100px);
    justify-content: center;
    align-content: center;
}

.calculator-grid > button{
    background-color: rgba(255,255,255,0.75);
    outline: none;
    border: 1px solid white;
    font-size: 2rem;
}

.calculator-grid > button:hover{
    background-color: rgba(255,255,255,0.25);
    cursor: pointer;
}

.calculator-grid > button:active{
    background-color: white;
}

.display{
    grid-column: 1/-1;
    background-color: rgba(0,0,0,0.75);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.span-two{
    grid-column: span 2;
}

.span-one{
    grid-column: span 2;
    border-bottom-right-radius: 20px;
}

.edge{
    border-bottom-left-radius: 20px;
}

.display{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}

.previous{
    color: rgba(255,255,255,0.75);
    font-size: 1rem;
}

.current{
    color: white;
    font-size: 2.5rem;
}


